/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

canvas.off-screen {
  top: -5000px; 
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
}

#fps {
  position: absolute;
  top: 5px;
  right: 5px;
}
