#beholder-overlay {
  top: 0;
  left: 0;
  position: absolute;
}

#beholder-video {
  display: none;
}

.hidden {
  display: none;
}

#detection-panel {
  width: min(90vw, 800px);
  height: 90vh;
  margin: 5vh calc(50vw - 0.5 * min(90vw, 800px));
  box-sizing: border-box;
  z-index: 999;
  /* display: none; */
  background: black;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
  
  font-family: monospace;
  font-size: 12px;
  position: relative;
}

#detection-panel #full-video-div {
  position: relative;
  float: left;
  width: 100%;
}

#full-video-div canvas {
  position: relative;
  width: 100%;
}

#full-video-div #detection-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #00FF00;
}

#detection-panel #detection-video-div {
  position: relative;
  float: left;
  width: 100%;
}

#detection-video-div #detection-canvas {
  position: relative;
  width: 100%;
}

#area-buttons {
  position: relative;
  float: left;
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#area-buttons button {
  padding: 0.5em 1em;
  margin: 1em;
}

#detection-video-div #debug-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#detection-panel #parameters-menu {
  position: relative;
  float: left;
  clear: both;
  margin: 1em 0 1em 0em;
  padding: 1em 1.5em 1em 1.5em;
  background: black;
}

#detection-panel #parameters-menu .parameter-item {
  position: relative;
  float: left;
  clear: both;
  margin: 0.25em 0 0.25em 0;
}

#detection-panel #parameters-menu .parameter-item span {
  position: relative;
  float: left;
  width: 18em;
  font-weight: 600;
  color: white;
}


#toggle-screen {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  background: #000;
  z-index: 9999;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 18px 0;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 100ms ease-in;
}

#toggle-screen:hover, #toggle-screen:active {
  background: white;
  color: black;
}

#beholder-video {
  display: none;
}
